*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header img{
    width: 20rem;
}
.cover{
    position: relative;

}

.text-cover{
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    
}
h1{
    font-size: 80px;
}
#tickets{
    padding: 4rem 4rem;
    
}
#accommodation{
    padding: 5rem 5rem;
    

}

#section3{
    margin-top: 2rem;
    padding: 2rem;
    margin-bottom: 2rem;
}

#section4 img{
    height: 400px;
    width: 600px;
    
}
#section4 a{
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: aqua;
    color: black;
}


.borderLink{
    border: 2px solid green;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}
#section5 img{
    border: 1px solid rgb(13, 14, 13);
    padding: 1rem;
    border-radius: 60%;
    height: 500px;
    width: 700px;
}
.relative{
    position: relative;
    text-align: center;
    color: rgb(243, 236, 236);
  }
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
.hide {
    display: none;
 }
.myDIV:hover + .hide {
    display: block;
    color: rgb(14, 3, 3);
    
}
.myDiv:hover + .hide {
    display: block;
    color: rgb(253, 250, 250);
    
}
.myDIV  img:hover {
    
    filter: blur(4px);
}
.myDiv  img:hover {
    
    filter: blur(4px);
}

.carousel-inner img{
    height: 700px;
}
#section6 img{
    border: 1px solid green;
    padding: 1rem;
    border-radius: 60%;
    height: 500px;
    width: 700px;
}
#footerImg{
    width: 20rem;
   
}



footer img{
    
    width: 40px;
    border-radius: 50%;
    height: 50px;
}
h1,h2,h3,h4,h5 {
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
  }
  p,span,a {
    font-family: "Salsa", cursive;
    font-weight: 300;
    font-style: normal;
  }
  

@media screen and (max-width: 1200px) {
    h1{
        font-size: 1.5rem;
    }
    span{
        font-size: .8rem;
    }
    p{
        font-size: .8rem;
    }
    #section2 video{
        max-width: 350px;
        padding-right: 1rem;
    }
  }
  @media screen and (min-width: 1200px) {
    #section2 video{
        width: 900px;
        height: 400px;
    }
  }
  